resources/
lib/lucene-5.1.0/
lib/wikitext-standalone-2.6.0-SNAPSHOT/
lib/wikixmlj/

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
